# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\3 курс\Шахов_Д_В_3-2а_JAVA\Шахов_Д_В_3-2а_JavaScript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
